<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})"> 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
</head>
<body>

	<section class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center">
			<h1 class="fw-bold">Smart Contact Manager</h1>
			<p>Start Collecting contacts of people in easier and efficient way.</p>
			<button class="bg-primary" >Get Start</button>
		</div>
	</section>
	


</body>
</html>